button {
    background-color: lightcoral;
    margin: 2px;
    padding: 7px;
    font-size: 15px;
}

#buttons-view {
    float: none;
    align-self: auto;
}

form {
    color: blue;
    margin: 20px;
    font-size: 30px;
}

input {
    font-size: 20px;
}

body {
    background-color: rgb(250, 250, 142);
}

.container {
    margin-left: 20%;
}

#gifs-view {
    font-size: 20px;
    float: left;
}

img {
    margin: 10px;
}

.border {
    border: 10px solid #dee2e6!important
}